.header {
    grid-area: hd;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 41px 45px 0 41px;
    background-color: #fff;

    &.transparent {
        background-color: #fff0;
    }

    .navigation {
        width: 80px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-right: 5.916em;

        &Prev, &Next {
            position: relative;
            display: block;
            background-color: #fff;
            background-repeat: no-repeat;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.12);
        }

        &IconPrev{
            position: absolute;
            left: 9px;
            top: 8px;
        }

        &IconNext{
            position: absolute;
            left: 14px;
            top: 8px;
        }
    }

    .search {
        width: 295px;
        border-bottom: 1px solid #000;
        padding-bottom: 0;

        form {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            input[type="search"] {
                background-color: transparent;
                border: none;
                outline: none;
                width: 93%;
                font-size: 16px;
                line-height: 1em;
                color: #5F5A5A;

                &::-ms-clear {
                    display: none;
                }

                &::-webkit-search-cancel-button {
                    display: none;
                }
            }

            button[type="submit"] {
                align-self: flex-end;
                background-image: url("./../public/icon/search.svg");
                background-color: transparent;
                background-repeat: no-repeat;
                background-size: contain;
                background-position-y: 70%;
                width: 18px;
                height: 26px;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }

    .authorization {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        &Name {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            vertical-align: middle;
            color: #5F5A5A;
            margin-left: 34px;
        }

        .contact{
            display: flex;
            align-items: center;

            &Icon {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: center;
                margin-left: 14px;
            }
        }

    }
}

