.main{
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-auto-rows: 85px 1fr 70px;
  grid-template-areas:
      "sd hd"
      "sd ct"
      "pl pl";
}

.content{
  grid-area: ct;
}

.mainMobile{
  display: flex;
  flex-direction: column;
  justify-items: center;
  //grid-template-columns: 1fr;
  //grid-auto-rows: 1fr;
  //grid-template-areas:
  //    "mhd"
  //    "ct"
  //    "nb";
}
